name: linter-and-tests
on: [push]
jobs:
  Make-lint-and-tests:
    runs-on: ubuntu-latest
    steps:
        - name: checkout code
          uses: actions/checkout@v3
        - name: python install
          uses: actions/setup-python@v4
          with:
            python-version: '3.10'
        - name: install poetry
          run: pip install poetry
        - name: poetry dependencies
          run: make install
        - name: linter Status
          run: make lint
        - name: tests run
          run: make pytest
        - name: Test & publish code coverage
          uses: paambaati/codeclimate-action@v3.0.0
          env:
            CC_TEST_REPORTER_ID: 29090f81e72d6dc921bc1e42ed61297ed0d84fea3f7b54bf24afaab0b784cdaa
          with:
            coverageCommand: npm run coverage
            debug: true
